<div class="house_signup">
</div>

<h4>Family Profile:</h4>

<div class="family_signup">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {multipart: :true}) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="row">
    <div class="two columns">
      <%= f.label :name %>
    </div>
    <div class="eight columns">
      <%= f.text_field :name, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :place %>
    </div>
    <div class="eight columns">
      <%= f.text_field :place, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :phone, 'Phone number' %>
    </div>
    <div class="eight columns">
      <%= f.text_field :phone, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :address %>
    </div>
    <div class="eight columns">
      <%= f.text_field :address, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :nationality %>
    </div>
    <div class="eight columns">
      <%= f.text_field :nationality, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :children, "Child(ren)" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :children, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :dob, "Date of Birth of the child(ren)" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :dob, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :additional, "Additional tasks" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :additional, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :needs, "Need a nanny per" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :needs, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :living, "Live-in or live-out position" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :living, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :rate, "Hourly rate for nanny" %>
    </div>
    <div class="eight columns">
      <%= f.text_field :rate, size: "86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= f.label :schedule, "Working Schedule" %>
    </div>
    <div class="four columns">
      <%= f.text_field :schedule, size:"86", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <%= f.label :monday %>
      <%= f.text_field :monday, size:"30", autofocus: true %>
    </div>
    <div class="four columns">
      <%= f.label :tuesday %>
      <%= f.text_field :tuesday, size:"30", autofocus: true %>
    </div>
    <div class="four columns">
      <%= f.label :wednesday %>
      <%= f.text_field :wednesday, size:"30", autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <%= f.label :thursday %>
      <%= f.text_field :thursday, size:"30", autofocus: true %>
    </div>
    <div class="four columns">
      <%= f.label :friday %>
      <%= f.text_field :friday, size: "30", autofocus: true %>
    </div>
  </div>

  <div class="form_align">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <h5>Image:</h5>
    <div class="field">

    </div>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>
    <% end %>
  </div>

</div>