
<div class="row" style="border:1px solid black">
	<div class="one-third column" style="border:1px solid black">
		<%= image_tag "default.png" %>	
	</div>
	<div class="two-thirds column profile_pic">
		<div class="row profile_headline">
			<h5><%= @nanny.headline %></h5>
		</div>
		<div class="row profile_name">
			<h4><%= @nanny.email %></h4>
		</div>
		<div class="row profile_line1">
			<div class="one-third column profile_line2">
				Age: <%= @nanny.age %>
			</div>
			<div class="one-third column profile_line2">
				Nationality: <%= @nanny.nationality %>
			</div>
			<div class="one-third column profile_line2">
				Languages: <%= @nanny.language %>
			</div>
		</div>
		<br />
		<div class="row profile_line3">
			Degree: <%= @nanny.degree %>
		</div>
		<div class="row profile_line4">
			Education: <%= @nanny.education %>
		</div>
	</div>
	
	<div class="row">
		<div class="one-half column profile_line5">
			Certifications: <%= @nanny.conditions %>
		</div>
		<div class="two columns profile_line5">
			First Aid: <%= @nanny.first_aid %>
		</div>
		<div class="two columns profile_line5">
			License: <%= @nanny.license %>
		</div>
		<div class="two columns profile_line5">
			Car: <%= @nanny.vehicle %>
		</div>
	</div>
</div>
