
<h3>Edit your Nanny Profile</h3>

<div class="form_align nanny_signup">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="row" style="border-bottom:1px solid black;"">

    <div class="one column">
      <%= f.label :name, "Name:" %>
    </div>
    <div class="four columns" style="border-right:1px solid black">
      <%= f.text_field :name, size:"33", autofocus: true %>
    </div>

    <div class="one column">
      <%= f.label :age, "Age:" %>
    </div>
    <div class="one column">
      <%= f.text_field :age, size:"5", autofocus: true %>
    </div>
    
    <div class="one column">
      <%= f.label :place, "Place:"%>
    </div>
    <div class="three columns" style="border-right:1px solid black">
      <%= f.text_field :place, size:"25", autofocus: true,  placeholder:"Amsterdam.." %>
    </div>
  </div>


  <div class="row" style="margin-top:2px; border-bottom: 1px solid black; margin-bottom: 2px;">
    <div class="one column">
      <%= f.label :phone, "Phone Number:" %>
    </div>
    <div class="two columns">
      <%= f.text_field :phone, autofocus: true, placeholder:"+31 |" %>
    </div>


    <div class="offset-by-one one column">
      <%= f.label :nationality, "Nationality:" %>
    </div>
    <div class="two columns">
      <%= f.text_field :nationality, autofocus: true, placeholder: "American" %>
    </div>

    <div class="offset-by-one one column">
      <%= f.label :language, "Language(s):"%>
    </div>
    <div class="offset-by-one two columns">
      <%= f.text_field :language, size:"19", autofocus: true, placeholder: "English, Dutch, Spanish, etc.." %>
    </div>
  </div>

  <div class="row" style="border-bottom: 1px solid black; margin-bottom: 2px;">

    <div class="one column">
      <%= f.label :education, "Education:" %>
    </div>
    <div class="nine columns">
      <%= f.text_field :education, size:"90", autofocus: true %>
    </div>

  </div>

  <div class="row" style="border-bottom: 1px solid black; margin-bottom: 2px;">

    <div class="three columns">
      <%= f.label :experience, "Years of Childcare exp:" %>
    </div>
    <div class="one column">
      <%= f.text_field :experience, autofocus: true %>
    </div>

    <div class="offset-by-two two columns">
      <%= f.label :ages, "Ages worked with" %>
    </div>
    <div class="two columns">
      <%= f.text_field :ages, autofocus: true %>
    </div>

  </div>

  <div class="row" style="border-bottom: 1px solid black; margin-bottom: 2px">
    <div class="two columns">
      <%= f.label :permit, "Work Permit:" %>
    </div>

    <div class="two columns">
      <%= f.label :permit, "Yes", :value => "true" %>
      <%= f.radio_button  :permit, true %>
      <%= f.label :permit, "No", :value => "false" %>
      <%= f.radio_button :permit, false, :checked => true %>
    </div>
    <div class="two columns">
      <%= f.label :first_aid, "First Aid Certified:" %>
    </div>
    <div class="two columns">
      <%= f.label :first_aid, "Yes", :value => "true" %>
      <%= f.radio_button :first_aid, true %>
      <%= f.label :first_aid, "No", :value => "false" %>
      <%= f.radio_button :first_aid, false, :checked => true %>
    </div>
        <div class="two columns">
      <%= f.label :car, "Do you have a vehicle:" %>
    </div>
    <div class="two columns">
      <%= f.label :vehicle, "Yes", :value => "true" %>
      <%= f.radio_button :vehicle, true %>
      <%= f.label :vehicle, "No", :value => "false" %>
      <%= f.radio_button :vehicle, false, :checked => true %>
    </div>
  </div>

  <div class="row">
    <div class="one column">
      <%= f.label :headline, "Headline:" %>
    </div>
    <div class="ten columns">
      <%= f.text_field :headline, size:"90", autofocus: true, placeholder:"Enter in a headline that the families will see" %>
    </div>
  </div>
  <div class="row">
    <div class="one column" style="margin-right:1px">
      <%= f.label :experience, "Experience:" %>
    </div>
    <div class="ten columns">
      <%= f.text_field :experience, size:"85", autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="four columns">
      <div class="field">
        <%= f.label :monday %><br />
        <%= f.text_field :monday, autofocus: true, placeholder: "9-5" %>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= f.label :tuesday %><br />
        <%= f.text_field :tuesday, autofocus: true, placeholder: "9-5" %>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= f.label :wedsnesday %><br />
        <%= f.text_field :wedsnesday, autofocus: true, placeholder: "9-5" %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="four columns">
      <div class="field">
        <%= f.label :thursday %><br />
        <%= f.text_field :thursday, autofocus: true, placeholder: "9-5" %>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= f.label :friday %><br />
        <%= f.text_field :friday, autofocus: true, placeholder: "9-5" %>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= f.label :rate %><br />
        <%= f.text_field :rate, autofocus: true, placeholder: "How much per hour" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>