<div class="form_align">
	<h1> ADMIN PAGE </h1>

	<div class="row">
		<div class="six columns nanny_listing">
			<h3> List of Nannies </h3>
			<% @nannies.each do |nanny| %>
			<hr/>
			<%= link_to nanny.email, nanny %>
			<div class="nanny_each">
				<%= nanny.email %>
				<%= image_tag nanny.avatar.url(:thumb) %>
				
			</div>
			<% end %>
		</div>

		<div class="six columns family_listing">
			<h3> List of Families </h3>
			<% @families.each do |family| %>
			<hr/>
			<%= link_to family.email, family %>
			<div class="family_each">
			<%= family.email %>
			</div>

			<% end %>
		</div>
	</div>

</div>