<!DOCTYPE html>
<html>
<head>
  <title>NannyForExpats</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div id="top"></div>
<body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= render 'layouts/navbar' %>

    <%= yield %>

<%= link_to "Admin", new_admin_session_path %>
  </div>

<!--   <div class="footer">
    <div id="footer-cloud1"></div>
    <div id="footer-cloud2"></div>
    <div id="footer-house"></div>
    <div class="admin_login">
    </div>  
  </div> -->

</body>
</html>
